<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>next page of webpage1</title>
    </head>
    <body>
        <div class = 'background'> 
        </div>
            <style>      
            .background{
                background-image:url( 'Kritishma CV.jpg') ;
                background-size: 700px;
                width: 1150px;
                height: 900px;
                background-repeat: no-repeat;
                background-position: 450px 70px;
                box-shadow:10px 5px 9px  rgb(126, 126, 126);
            }
            </style>
    </body>
</html>