<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>exit page</title>
    </head>
        <body>
                <p style="background-image: url('page1.jpg');background-position:center;height:1000px;background-repeat: no-repeat; color:rgb(3, 3, 3); font-size: 5em; font-family: serif; "> Thank you for visiting our page . See you Again!!!!!!</p>
            <img src="logoethicalwrites.png" alt="." style="width: 30em; 
                height:30em;
                position: absolute;
                top:200px;
                right: 100px;">"
            </img>
        </body>
</html>

