body {
    background-image: url('page6.jpg');
    background-repeat:no-repeat;
    background-size:auto;
    background-position: 450px 70px;
    border-style:groove;
    padding: 30px
     }
.block {
    color: rgb(38, 3, 62);
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    line-height: 7mm;
    display:flex;
}
.block .p1{
     padding: 40px;
     border: 2.5px solid rgb(205, 205, 14);;
     margin-right:230px;
     border-radius: 5px;
}
.block .p2{
    padding: 40px;
    border: 2.5px solid rgb(205, 205, 14);
    margin-left:350px;
    border-radius: 5px;
}
h1{
    color: rgb(1, 1, 37);
    font-size: 2.5em;
    font-family:Georgia,serif;
    font-style: oblique;
}