body {
    background-image: url('page4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
     }
*{
    box-sizing: border-box;
}
.paragraph1 p{
    color: rgb(3, 0, 9);
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;

}
.paragraph2 p{
    color: rgb(4, 4, 4);
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: wavy;
    text-align: justify;
    margin: 25px;
    margin-top: 27px;
    /*line-height: normal;*/
    border: 3px solid rgb(186, 39, 88);
    width: 650px;
    height: 500px;
    padding: 40px;
}
.paragraph3 p{
    color: rgb(4, 4, 4);
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: wavy;
    text-align: justify;
    margin: 25px;
    border: 3px solid rgb(158, 35, 140);
    width: 650px;
    height: 500px;
    padding: 40px;
}
.block{
    display:flex;
}
