<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>next page of webpage1</title>
        <link rel="stylesheet"  type="text/css"  href="style3.css" />

    </head>
    <body>
        <h1>Eyes don’t Lie</h1>
            <div class="block">
                <p>  
                    My heart pounds faster than ever, I feel chills all over my body, butterflies in my stomach, my eyes sparkle with joy, my body flutters, smile lights my face,  our eyes meet for the first time.
                    I saw a universe Our universe filled with  the glorious future we hold, where the sun radiates the warmth of love, where the wind whispers your voice, where every raindrop that falls on my body gives the sensation of your touch, where rainbow has hundreds of colours, where river flows with symphony, where our Hearts meet.
                    The charisma your eyes hold , they say everything. Looking into your eyes and I see my reflection, how they looked at me……. I could never resist.
                    How your eyes speak your heart, every letter, every word, every sentence, every paragraph, all the feelings Reveals.  Such ardent depth in your eyes , well they can’t be fake!
                    I gave up my heart, my trust, my commitment , I believed the spark in your eyes, how I doubted myself to believe in those Eyes that they would never lie. 

                    <br>Well Susan! How wrong I was.  Eyes do lie’. How I was blinded by the charisma of those eyes, I could never see the truth behind them. How I saw my reflection in those eyes  never knowing their heart belonged to someone else. How the universe I saw in those eyes were caressed and built for someone else. How I was just a reflection and someone else was there to be your shadow following everywhere you go during light and completely emerge in you during the dark.

                    <br>My Heart shattered!!What a painful truth. Maybe I was better of living with the soothing lie. 
                    Destiny never meant us apart , the truth is we were never meant to be one.
                    <br>Eyes do lie, maybe so did mine. 
                    <br>Did you ever see the world in my eyes, did you see yourself ?
                    <br>Well
                    <br>In the world where people would ‘Die for each other I wish to ‘Live with you for lives and eternities maybe not this life but maybe we reincarnate once again  where I see myself in your eyes and you see yourself in mine…
                </p>
            </div>
    </body>
</html>