<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>next page of webpage1</title>
        <link rel="stylesheet"  type="text/css"  href="style4.css" />

    </head>
    <body>
        <h1>The friend I Lost</h1>
            <div class="block">
                <div class='p1'> 
                    <p>
                        Billions of people scattered here and there and Destiny …on well Destiny brought two souls together. From Complete strangers to ones who Complete each other two masses 
                        of the universe make a bond. How wonderful the universe is, that sends an eternal energy, so therapeutic, a morning charm, an energy that matches yours , a soulful companion 
                        and packages of jokes I call them A Friend not just friend but  A Best Friend’ .
                        Remembering that time someone came to my life to fill up that void, made a special place and Vanished…….. crumbling down its sensitive walls leaving all empty all again. Oh! what tragedy I lost you….
                        <br>To the friend, remember how we talked about being each other’s muse , the symphony to our tunes, the pinkie promises we made , your jokes I hate, to laugh at your ugly fall, to help you rise,
                        to see each other grow old  feeble yet cool, to see you break your heart for some daft  who couldn’t even make you laugh. 
                    </p>
                </div>
                
                <dic class='p2'>
                    <p>
                        Where do I search your presence, the wind that carried our laughter, the playground where our foot prints lie, the cloud that saw us grow and the walls that heard our secrets.
                        <br>What a fool of me for letting u go so easily, pushing myself into darkness of life. What a disgrace to not let my ego aside and find your path. Remember our schoolmates? ,
                        still asks me about you ,how will I answer them when I am short of words, my heart beats faster than ever, the guilt surrounds me as I was the one for letting you go. 
                        Oh well what a stupid person I was, distancing myself from you never knowing I was losing a part of me, an eternity, a core memory. Wish someone warned me what silly mistake was I making , 
                        the boiling young blood, that developing brain maybe maybe……was not that capable of understanding that a childhood innocence would lead to a burning guilt that haunts the adult self.
                        <br>How  I know things could never go back the same but waiting for that day we meet again and live the moment we lost somehow……
                        <br>Wish we could cross paths one more Time…… your heart closer to Mine. Fill the air with laughter, scattered mist with memories that bliss. 
                    </p>
                </div>
            </div>
    </body>
</html>